@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@font-face {
    font-family:digital-7 ;
    src: url('digital-7\ \(italic\).ttf');
}
:root{
    --light-color:rgb(234,32,39);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
  
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(6, 30, 45, 0.622);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    gap:50px
}
h2{
    color:rgba(158, 41, 41, 0.615);
    font-size: 50px;
    font-weight: 500;
}
.frame{
    width: 600px;
    height: 300px;
    background-color: rgba(2, 9, 13, 0.622);
    border: 50px solid rgba(158, 41, 41, 0.615);
    padding: 10px;
    border-radius: 10px;
    font-size: 80px;
    text-align: center;
    line-height: 180px;
   
}
.clock{
    font-family: digital-7;
    color: white;
    text-shadow:0 0 20px var(--light-color) ;
    position: relative;
}
.clock::before{
    content: "";
    position: absolute;
    left:0;
    top:0;
    background-color: var(--light-color);
    width: 100%;
    height: 100%;
    opacity: 0.1;
    filter: blur(80px);
}